* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/************ START WITH MOBILE-FIRST RESPONSIVE DESIGN *************/

.main-wrapper {
  width: 90%;
  /* Feel free to tinker with the max-width */
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .heading {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading h1 {
    font-size: 30px;
  }
  .nav-bar {
    display: none;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image img {
    object-fit: cover;
    height: 300px;
    width: 432px;
  }

  .bright h2 {
    padding: 2rem 0;
    font-weight: 55rem;
    font-size: 50px;
  }

  .note {
    padding: 10px 0;
  }

  .note p {
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    color: gray;
    padding-bottom: 12px;
  }

  .note button {
    width: 170px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(183, 65, 85);
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
  }

  .info .new {
    background-color: rgb(1, 1, 48);
    height: 34rem;
    width: 100%;
    margin: 1.3rem 0;
  }

  .info .new h2 {
    padding-left: 8px;
    padding-top: 12px;
    color: goldenrod;
    font-size: 27px;
    font-weight: bold;
  }

  .info .new h3 {
    color: white;
    padding-left: 8px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
  }
  .info .new p {
    color: white;
    padding-left: 8px;
    padding: 12px;
    line-height: 19px;
    font-size: 15px;
  }

  .info .new .line {
    border-bottom: 0.7px solid white;
    width: 90%;
    margin-left: 10px;
    padding: 7px;
  }

  .footer {
    width: 100%;
    min-height: 15vh;
  }

  .footer .retro {
    padding: 15px 0;
    gap: 10px;
    display: flex;
  }
  .footer .retro .retro-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .footer .retro .retro-text {
    line-height: 15px;
    display: flex;
    flex-direction: column;
  }
  .footer .retro .retro-text h3 {
    color: gray;
    font-size: 25px;
    padding-top: 5px;
  }

  .footer .retro .retro-text h4 {
    padding: 12px 0;
    font-size: 21px;
    color: rgb(1, 1, 48);
  }
  .footer .retro .retro-text p {
    font-size: 20px;
    line-height: 15px;
  }
  .footer .retro .retro-text p:nth-last-child() {
    line-height: 15px;
  }
}

/************ START YOUR MEDIA QUERIES FOR THE VARIOUS BREAKPOINTS *************/

/* MIN-WIDTH: 480PX (FOR MOBILE PHONES)
MIN-WIDTH: 768PX (FOR TABLETS)
MIN-WIDTH: 992PX (FOR LAPTOPS)
MIN-WIDTH: 1200PX (FOR LARGE DEVICES)
MIN-WIDTH: 1440PX (FOR EXTRA-LARGE DEVICES)*/

/* .heading {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading .name {
  font-size: 35px;
}

.heading .nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  gap: 15px;
}

.heading .nav-bar ul li {
  list-style: none;
}

.heading .nav-bar ul li a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  display: block;
  border-radius: 15px;
  transition: 0.1s;
  padding: 10px 20px;
  margin: 0 5px;
}

.heading .nav-bar ul li a:hover {
  color: white;
  background: black;
}

.info {
  height: 50vh;
  width: 100%;

  padding: 0 70px;
  display: flex;
  gap: 35px;
}

.info .image-info {
  height: 100%;
  width: 60%;
}

.info .image-info .image {
  padding: 15px;
}

.info .image-info .image img {
  width: 45rem;
  object-fit: cover;
}

.info-details {
  display: flex;
  justify-content: space-between;
}

.info-details .bright h2 {
  padding: 0 12px;
  line-height: 35px;
  font-size: 35px;
  font-weight: bold;
  color: rgb(1, 1, 48);
}

.info-details .note p {
  line-height: 16px;
}

.info-details .note button {
  margin-top: 12px;
  padding: 8px 25px;
  background-color: rgb(207, 56, 81);
  border: 1px solid rgb(185, 37, 111);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 5px;
}

.info .new {
  background-color: rgb(1, 1, 48);
  height: 40rem;
  width: 30%;
  margin-top: 1.3rem;
}

.info .new h2 {
  padding-left: 8px;
  padding-top: 12px;
  color: goldenrod;
  font-size: 25px;
  font-weight: bold;
}

.info .new h3 {
  color: white;
  padding-left: 8px;
  padding: 12px;
  font-weight: bold;
}
.info .new p {
  color: white;
  padding-left: 8px;
  padding: 12px;
  line-height: 19px;
}

.info .new .line {
  border-bottom: 0.7px solid white;
  width: 90%;
  margin-left: 10px;
  padding: 7px;
}

.footer {
  height: 50vh;
  width: 100%;
  padding: 0 70px;
  display: flex;
  gap: 10px;
}

.footer .retro {
  display: flex;
  padding: 15px;
  padding-top: 300px;
  gap: 10px;
}
.footer .retro .retro-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.footer .retro .retro-text {
  line-height: 15px;
}
.footer .retro .retro-text h3 {
  color: gray;
  font-size: 20px;
}

.footer .retro .retro-text h4 {
  padding: 12px 0;
  font-size: 13px;
  color: rgb(1, 1, 48);
}

@media only screen and (max-width: 620px) {
  body {
    min-height: 100vh;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    padding-left: 15px;
  }

  .nav-bar {
    display: none;
  }

  .info .image {
    width: 100%;
    margin: 0 auto;
  }

  .info-details {
    width: 550px;
    height: 200px;
    margin: 15px auto;
  }

  .new {
    width: 100%;
    margin-top: 15rem;
    height: 100px;
  }
} */
